@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');

/* main */

* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;   
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #4289d9;
}

h2 {
    text-align: center;
    padding: 1.5rem;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.flex {
    display: flex;
}

.linear {
    background-image: linear-gradient(#ffffff, #f3f3f3);
}

.linear2 {
    background-image: linear-gradient(#f3f3f3, #ffffff);
}

/* navbar */

nav ul a {
    color: #f0f0f0;
    padding: 0 0.25rem;
    font-weight: 300;
    transition: 0.3s;
}

nav a:hover {
    color: #333;
}

nav li {
    margin: 0 10px;
}

.logo {
        padding: 0 10px;
    }

nav ul {
    display: flex;   
}

nav > a {
    height: 8vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    font-size: 1.35rem;
}

span {
    color: #ffd500;
}

header {
    max-width: 1200px;
    margin: 0 auto;
}

.close, .hamburger {
    display: none;
}

.header-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(img/skola.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh; 
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3);
    position: relative;
}

.header-about {
    color: #fff;   
    max-width: 800px;
    text-shadow: 0 0 5px #000;
    position: absolute;
    top: 80%;
    transform: translateY(-80%);
    left: 15%;
}

.header-about h2 {
    font-weight: 600;
    text-align: start;
    font-size: 3.5rem;
    padding: 1rem 0;
}

.header-about p {
    font-size: 1.25rem;
    text-shadow: 0 0 2px #000;
    font-weight: 500;
}

/* about */

.grid-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.grid-skola1 {
    background: url(img/grid-skola1.png) no-repeat center center;
    background-size: cover;
}

.grid-skola2 {
    background: url(img/grid-skola.png) no-repeat center center;
    background-size: cover;
}

.grid-about div { 
    padding: 0.75rem;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background-color: #fff;
}

.grid-about > div:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
}

.grid-about > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid-about > div:nth-child(3) {
    padding: 0;
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid-about > div:nth-child(4) {
    padding: 0;
}

.obory a {
    font-size: 1.15rem;
    text-decoration: underline;
    text-decoration-color: #000;    
}

.obory p {
    font-size: 0.80rem;
}

.rizeni a {   
    text-decoration: underline;
    font-size: 1.15rem;
    text-decoration-color: #000;   
}

.rizeni ul {
    padding-left: 1.25rem;
}

.rizeni li {
    list-style-type: decimal;
    padding-left: 0.15rem;
}

/* aktuality */

.aktuality {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.aktuality > div {
    border-bottom: 1px solid #333;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    background-color: #fff;
}

.aktuality > div > div  {
    margin-top: 1rem;
}

.datum {
    color: #999;
}

.aktuality .flex {
    justify-content: space-between;
}

/* foto gallery */

.foto-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    height: 300px;
}

figure {
    color: #fff;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

figure * {
    transition: all 0.3s ease-in-out;
}

figure h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

figure img {
    opacity: 1;
    object-fit: cover;
    object-position: center;
}

figure:hover img {
    opacity: 0.5;
    transform: scale(1.15);
}

figure:hover h2 {
    opacity: 1;
}


/* map */

iframe {
    width: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/* partners */

.partners {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
} 

.partners img {
    height: 60px;
    padding: 0 1rem;
    margin: 1rem 0;
    object-fit: contain;
}

/* footer */


footer {
    background-color: #333;
}

footer h3 {
    color: #fff;
    padding: 1rem 0;
}

footer i {
    color: #bbb;
    padding-right: 10px;
}

footer li {
    padding: 0.5rem 0;
}

footer a {
    color: #aaa;   
}

footer a:hover {
    color: #eee;
    transition: 0.3s;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-flex {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
}

/* responsive */

@media (max-width: 1200px) {
    
    .logo {
        padding: 0 0.5rem;
    }
    
    .grid-about {
        margin: 0 0.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
    }

    .grid-about > div:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .grid-about > div:nth-child(2) {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .grid-about > div:nth-child(3) {
        height: 15rem;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .grid-about > div:nth-child(4) {
        height: 16rem;
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .grid-about > div:nth-child(5) {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .aktuality {
        margin: 0 0.5rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr)
    }

    .header-about {
        position: absolute;
        top: 80%;
        transform: translateY(-80%);
        left: 10%;
        right: 10%;
    }

    .foto-grid {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
        height: 1500px;
    }
    
    .footer-container {
        margin: 0 0.5rem;
    }
    
    .footer-flex {
        margin: 0 0.5rem;
    }
    
}

@media (max-width: 992px) {
    nav:first-child{
        padding: 0.5rem;
    }

    .hamburger, .close {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 36px;
        height: 36px;
    }

    .close {
        background: black;
    }

    .hamburger img, .close img {
        width: 100%;
        height: 100%;
    }

    .navbar {
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 0;
        width: 100%;
        height: 50vh;
        overflow: hidden;
        list-style: none;
        background: #000;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.2s ease;
    } 

    .navbar:target {
        transform: translateY(0);
    }

    .navbar li a {
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 1.2rem; 
        text-decoration: none;
        border-bottom: 1px solid black;
        padding-bottom: 0.5rem;
    }

    .navbar li a:hover, .navbar li a:focus {
        border-bottom: 1px solid white;
    }

    .header-about p {
        display: none;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    
    .footer-flex {
        justify-content: center;
    }
    
}