@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}



img {
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #4289d9;
}

.flex {
    display: flex;
}

nav a {
    color: #333;
    padding: 0 10px;
}

nav li:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

nav li {
    margin: 0 10px;
    padding-bottom: 2px;
}

nav ul {
    display: flex;   
}

nav div {
    display: flex;
}

.logo {
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.25rem;
    max-width: 1200px;
    margin: 0 auto;
}

.socials {
    height: 40px;
}

header {    
    height: 100px;
}

.background {
    height: 60vh;
    background-size: auto;
}

h2 {
    text-align: center;
    padding: 1rem;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    padding: 10px;
}

.grid-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid #333;
    padding-bottom: 2rem;
    
}

.grid-about div { 
   padding: 15px;
   box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.grid-about > div:first-child {
    grid-column: 1/3;
    grid-row: 1/2;

}

.grid-about > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
}

.grid-about > div:nth-child(3) {
    padding: 0;
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid-about > div:nth-child(4) {
    padding: 0;
}

.obory a {
    font-size: 1.15rem;
    text-decoration: underline;
    text-decoration-color: #000;    
}

.obory p {
    font-size: 0.80rem;
}

.rizeni a {   
    text-decoration: underline;
    font-size: 1.15rem;
    text-decoration-color: #000;   
}

.rizeni ul {
    padding-left: 1.25rem;
}

.rizeni li {
    list-style-type: decimal;
    padding-left: 0.15rem;
}

.aktuality {
    display: grid;
    max-width: 1200px;
    margin: 1rem auto;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 2px solid #333;  
    padding-bottom: 2rem;
}

.aktuality > div {
    border-bottom: 1px solid #333;
    padding: 15px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.aktuality > div > div  {
    margin-top: 1rem;
}

.datum {
    color: #999;
}

.aktuality .flex {
    justify-content: space-between;
}